.time-hour{
  text-align: center;
}
.app-text{
  justify-content: space-around;
  display:flex;
  font-size: 20px;
}
.app-time{
  font-size: 100px;
  display:flex;
  justify-content: space-around;
}
.time-app{
  display: inline-block;
  
}
#compteur{
  font-size:30px;
  margin-top: 20px;
  border-radius: 10px;
  color:red;
}


